body {
  margin: 0;
  padding: 0;
}


#video-grid {
  display: flex;
  justify-content: center;
}
video {
  height: 300px;
  width: 400px;
  object-fit: cover;
}
.main {
  height: 100vh;
  display: flex;
}
.main_left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.main_right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: rgb(50, 50, 50);
  border-left: 1px solid #3D3D42;
}
.main_videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: black;
}
.main_controls {
  display: flex;
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 198);
  padding: 1px;
  justify-content: space-between;
  
}
.main_controls_button i {
  font-size: 20px;
}
.main_controls_button:hover{
  background-color: rgb(60, 60, 60);
  border-radius: 5px;
}
.main_controls_button {
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
  justify-content: center;
  min-width: 80px;
  cursor: pointer;
  align-items: center;
}
.main_controls_block{
  display: flex;
}
.leave_meeting{
  color: red;
  font-weight: 500;
}
.main_chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}
.main_message_container {
  padding: 22px 12px;
  display: flex;
}
.main_header {
  color: rgb(255, 255, 198); 
  text-align: center;
}
.main_message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: antiquewhite;
}
.messages{
  color: rgb(255, 255, 198);
  list-style: none;
}

.unmute, .stop {
  color: red;
}